
.header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 20px ;
  position: fixed;
  width: 100%;
  top: 0;
}
.logo h2{
  margin: 0;
  line-height: 50px;
}
.logo h2 a{
  text-decoration: none;
  color: #61dafb;
  margin-right: 20px;
}
.header ul {
  margin: 0;
}
.header ul li{
  display: inline-block;
  line-height: 50px;
  cursor: pointer;
  transition: all 1s;
  padding-left: 10px;
  padding-right: 10px;
}
.header ul li a{
  text-decoration: none;
  color: white;
}
.header ul li:hover {
  background-color: #61dafb;
}
.container img.banner{
  margin-top: 50px;
  width: 100%;
}
.main-app{
  padding: 30px 20px 20px 120px;
}
.about{
  font-size: 35px;
  font-weight: bold;
}
.about::after{
  content: " ";
  display: block;
  height: 2px;
  width: 100px;
  background-color: rgba(0,0,0,.44);;
  margin-top: 10px;
}
.contain-blog{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.blog{
  border: 1px solid rgba(0,0,0,.1);
  width: 290px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 10px;
}
.blog-title{
  margin-bottom: 20px;

}
.blog-title span{  
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
.blog-content span{
  color: #5f636d;
  font-weight: 400;
  font-size: 15px;
}
.author-infor{
  margin-top: 20px;
  display: flex;
}
.author-infor .avatar img{
  padding-right: 10px;
  width: 40px;
  height: 40px;
}
.author-name {
  font-size: 12px;
  display: block;
}
.date{
  font-size: 12px;
  color: #5f636d;
}
.ContainBlog{
  padding-top: 70px;
  padding-left: 50px;
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.containerinput{
  padding-top: 20px;
  display: flex;
  flex-direction: row;  
  width: 100%;
}
.inputAuthorName{
  margin-right: 20px;
  margin-bottom: 20px;
}
.containerinput input{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding-left: 10px;
  border: 1px solid #5f636d;
}
.containerinput input:focus{
  outline: none;
}
.Content textarea{
  width: 700px;
  height: 350px;
  padding: 10px;
  border: 1px solid #5f636d;
}
.Content textarea:focus{
  outline: none;
}
.btnCreate button{
  margin-top: 10px;
  border-radius: 20px;
  width: 100px;
  background-color: #FF5959;
  color: white;
  border: none;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: all 0.5s;
}
.btnCreate button:hover{
  top: -5px;
  background-color: #61dafb;
}